@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Belanosima:wght@400;600&display=swap');

:root{
	--font: Verdana, Geneva,Tahoma, sans-serif;
	--font2: 'Agdasima', sans-serif;
	--font3: 'Belanosima', sans-serif;
}

body{
	font-family: var(--font2); 
	margin: 0px;
}
header{
	background-color: #00032b;
	padding: 30px;
	border:0px;
	
	color:white;
	text-align: center;
}
header > h1{
	font-variant:small-caps;
	font-size: 5vw;
}
header p{
	margin-top: -31px;
	font-size: 2.5vw;
}
header a ,footer a{
	color: white;
	text-decoration: none;
	font-weight: bolder;
}
header a:hover, footer a:hover{
	text-decoration: underline;
}
header div{
	font-weight: bold;
}
/*#de{

	font-weight: lighter;
	font-size: 10px;
	display:inline;
}	
#autor{
	font-size: 10px;
	text-height: 8px;
	font-weight: bolder;
	display:inline;
}*/
main{
	min-height:85vh;
}
.configuracao{
	/*max pega o maior entre eles
	 min pega o menor entre eles
	*/
	
	font-size: 3vw;
	padding:20px;
	
	
	font-family: var(--font2);
}
main p{
		font-family: var(--font3);
}

#cor1{
	padding:20px;
	margin-bottom: 35px;
	border: 2px solid darkblue;
	border-radius: 5px;

	display: inline-block;
	box-shadow: 2px 2px 20px black;
	
	background-color: rgba(255, 255, 0, 0.200);
	
}
#cor2{
	padding:20px;
	margin-bottom: 35px;
	border: 2px solid darkblue;
	border-radius: 5px;

	display:inline-block;
	color: white;
	
	box-shadow: 2px 2px 20px black;
	background-color: rgba(0, 0, 139, 0.600);
}
#cor3{
	padding:20px;
	margin-bottom: 35px;
	border: 2px solid darkblue;
	border-radius: 5px;
	
	display: inline-block;
	
	box-shadow: 2px 2px 20px black;
	background-color: rgba(255, 255, 255, 0.200); 
}
#fundo{
	
	background-image: url('imagens/imagem.jpg');
	background-position: center center;background-attachment: fixed;
}
#fundo2{
	
	background-image: url('imagens/imagem.jpg');
	background-position: right center;
	background-attachment: fixed;
	background-size:cover;
	
}
#fundo3{
	
	background-image: url('imagens/imagem.jpg');
	background-position: bottom left;
	background-attachment: fixed;
}
footer p{
	font-size: 20px;
	font-weight: 600;
}
footer{
	margin-top: 30px;
	padding: 5px;
	color: #f6c0f9;
	text-align: center;
	background-color: black;
}